
main{
    width: 90%;
    margin: auto;
    font-family:sans-serif;
   

}
header{
    display:  flex;
    justify-content: space-between;
    padding: 10px;
   
}
.contact-info-container{
    display: flex;
    padding: 10px
   
}
.contact-info-child{
  
    padding: 10px;
    display: flex;
}
.contact-us{
    height:28px;
}
a{
    background-color: #005696;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
}
.contact-icon{
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color:#3dadf2;
    border-radius: 50%;
 
}
.container1{
    margin-top: 30px;
    display:flex;
    flex-wrap: wrap;
    padding: 10px;

}
span{
    color: gray;
font-size: 20px;
display:block;
}
.container1h1{
    font-size:76px;
    width: 800px;
  
}
 .no{
        margin-top:10px; color:black;
      
    }
.container1-child{
    width: 50%;
    height: 390px;
}
.container1-child-img{
    width: 50%;
    height: 330px;  
}

.feature-container{
    margin-top: 25px;
  
    display: flex;
    background-color: #fcfcfc;
    border-radius: 20px;
    padding: 20px;

}
.feature-child1{
width: 50%;


}
.enrollNow{
    background-color: #f8c81b;
    width: 80px;
    height: 30px;

}
.feature-child2{
    display: flex;
    width: 50%;
}
.feature-column{
   
    flex: 50%;
    padding: 10px;
}
.right-border{
    border-right: 1px solid grey;
}
.bottom-border{
    border-bottom: 1px solid grey;
}
.feature-list{
    padding: 10px;

   overflow: hidden;
    width: 100%;
    display: flex;
}
.achievemore{
    font-size:55px;
}
.feature-icon{
    
    margin-top: 20px;
    padding: 5px;
}
p{
    line-height: 1;
}
.des{
    padding: 5px;
    padding-left: 10px;
}
.topCourses{
width: 100%;
}
.topCourse-banner-container{
    background-color: #fcfcfc;
    margin-top: 20px;
    margin-bottom: 40px;
    display:flex;
    padding: 20px;
    justify-content: space-between;
}
.topCourse-banner-leftChild{
    margin-top: 30px;
    margin-left: 10px;
    width: 300px;
    height: 350px;
    padding-bottom: 10px;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    
}
.topCourse-banner-rightChild{
    width: 65%;
    display: flex;
}
.topcourseh2{
    font-size: 48px;
}
.bannerh3{
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 30px;
}
.trainingman{
    margin-right: -40px;
}
.enrollnow{
    border-radius: 0px;
    background-color:#f8c81b ;
}
.rating{
    background-color: #002147;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 20px;
}
.popular{
    background-color: #3dadf2;
    padding: 5px 18px;
    color: #ffffff;
    border-radius: 20px;
}
.viewSyllabus{
    margin-left: 40px;
    border-radius: 0px;
    background-color: #ffffff;
    border-color: #005696;
    border: 1px solid;
    color: #005696;
    
}
.timec{
    font-size: 50px;
}
.img-banner-desktop{
  width: 100%;
}
.img-banner-mobile{
    display: none;
}
.email-container{
    margin-top: 50px;
    margin-bottom: 200px;
    display:flex;
    justify-content:space-evenly;
}
.email-container-child1{
    width: 200px;

}
.email-container-child2{
    margin-top: 50px;

    width:40%;
}
.emailh2{
    font-size: 50px;
}
.input{
    width:600px;
    display: flex;
    height: 40px;
    border: 3px solid #E9EAEB;
}
input{
    width :80%;
    height: 35px;
    border: none;
    background-image: url('images/email-24px.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
input:focus{
    border:none;
}

.counterh2{
    padding: 5px;
    font-size: 30px;
}
.address-container{
    padding: 20px;
    display:flex;
    width:70%;
    justify-content: space-around;
    margin:auto;
    font-size:20px;
}
.address-child1{
    margin-top:-20px;
    width: 400px;
    color: #ffffff;
}
.address-child2{

}
.social-media{
    display: flex;
    padding: 10px ;
    flex-direction: row-reverse;
    background-color: #fdc800;
}
.social-icon{
    margin: 10px;
    margin-left: 40px;
    margin-right: 30px;
   
    width: 25px;
    height: 25px;
}

.counter-banner{
    background-color: #002147;
    padding: 8px 15px;
    display: flex;
    margin: auto;
    width:75%;
    color: #ffffff;
    position: relative;
   top:-60px;
    border: 1px dotted palegoldenrod;


}

.timer{
   width: 450px;
}
.footer{
    background-color:#005696;
    width: 100%;
    margin-left: -10px;
    margin-right:-20px;
}
@media screen and (max-width: 600px){
    main{
        width:100%;
     
      
    }
    header{
        display: inline-block;
        width: 100%;
       
        padding:0px;
       
    }
    .no{
        margin-top:18px; color:black;
        font-size:15px;
    }
    .logo{
        width:90%;
        height: 150px;
        
       
    }
    .contact-icon{
        width:50px;
        height:50px;
        margin-top:0px;
       
    }
    .contact-info-container{
        display: inline-block;
        width: 90%;
       
    }
     .contact-info-child{
        
      justify-content:space-between;
       
    }
    .contact-us{
        margin-top:10px;
       
    }
    .container1{
        flex-flow:column-reverse;
       
    }
    .container1-child{
        width: 100%;
    }
    .container1h1{
        font-size: 45px;
        width: 95%;
    }
    .feature-container{
        display:inline-block;
   
        width: 90%;
         /*background-color:#F0F4F7;*/
      
    }
    .feature-child1{
        width: 100%;
    }
    .feature-child2 {
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .topCourse-banner-container{
        flex-wrap:wrap;
       
       
    }
    .feature-column{
        display: block;
        width: 100%;
    }
    .topCourses{
        width: 100%;
    }
    .topCourse-banner-leftChild{
        width: 100%;
    }
    .topCourse-banner-rightChild{
        width: 100%;
    }
    
   .topcourseh2{
       font-size:35px; 
    }
    .feature-list{
        width: 99%;
        border-bottom:1px solid black;
    }
    .achievemore{
        font-size: 35px;
        width: 90%;
    }
    .enrollnow, .viewSyllabus{
       width:100px;
       margin:5px;
     
    }
    .topcourseh2{
        font-size:27px;
        text-align:justify;
    }
    .img-banner-desktop{
        display: none;
    }
    .img-banner-mobile{
        display: inline;
        width: 100%;
    }
    .email-container{
        flex-flow: column-reverse;
    }
    .email-container-child1, .email-container-child2{
        width: 100%;
    }
    .emailh2{
        font-size:38px;
    }
    .address-container{
        width: 100%;
        display: inline-block;
    }
    .address-child1{
        width: 100%;
    }
    .social-media{
        justify-content: center;
    }
    .counter-banner{
        display: inline-block;
        width: 90%;
         margin: auto;
    }
    .trainingman{
        margin-right:20px;
        border:1px soild red;
        height: 400px;
        display: none;
    }
    .input{
        width: 100%;
    }
    .email-container-child1{
        height:400px;
        margin-top:40px;
    }
.timec{
    font-size: 35px;
}
body{
    width: 100%;
 
}
.footer{
    width: 105%;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
    margin: 0px;
    display: none;
    position: absolute;
}
.counter-banner{
    width: 90%;
    margin: auto;
}
}
